@charset "UTF-8";
  
/* ********************************************
// --- リセット ---
// ※ブラウザのデフォルトCSSをリセット
// ***************************************** */
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body {
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
header, footer, nav, menu, article, aside, section, details, figcaption, figure{
  display: block;
}
ul, ol {
  list-style: none;
}
table {
  border-collapse: collapse;
}
img {
  vertical-align: bottom;
}
a img {
  border: none;
}
strong {
  font-weight: normal;
}
i{
  font-style: normal;
}

/* ---------------- fontの読み込み ----------------- */
@font-face {
  font-family: 'Kaushan Script';
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

/* ---------------- 文字の表示 -------------------- */

div.container{
  height: 10em;
  position: relative;
}

div.container h1{
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -30%;
  transform: translate(-50%, -50%);
}

div.container2{
  position: relative;
  top: 125px;
  text-align: center;
  
  font-size: 50px;
}


/*========= レイアウトのためのCSS ===============*/

.overflow-hidden {
  overflow: hidden;
}


/* ボタン */
.btnlinestretches2{
  /*線の基点とするためrelativeを指定*/
position:relative;
  /*ボタンの形状*/  
color:#333;
  padding: 10px 30px;

display:inline-block;
  text-decoration: none;
  outline: none;
}

/*線の設定*/
.btnlinestretches2::before,
.btnlinestretches2::after {
content:'';
  /*絶対配置で線の位置を決める*/
position:absolute;
  /*事前に出現させる線の形状*/
border:solid #333;
width:10px;
height:20px;
  /*アニメーションの指定*/
transition:all 0.3s ease-in-out;
}

.btnlinestretches2::before{
  /*事前に出現させる線の位置*/
top:0;
left:0;
  /*事前に出現させる線の形状*/
border-width:2px 0 0 2px;
}

.btnlinestretches2::after{
  /*事前に出現させる線の位置*/
bottom:0;
right:0;
  /*事前に出現させる線の形状*/
border-width:0 2px 2px 0;
}

/*hoverした際の線の形状*/
.btnlinestretches2:hover::before,
.btnlinestretches2:hover::after{
width:calc(100% - 2px);
height:calc(100% - 2px);
border-color:#666
}

@media screen and (max-width:480px) {
     
  div.container h1{
    color:blueviolet;  
    font-family:'Kaushan Script';
    font-size: 50px;
  }

  div.container2{
    font-family: 'Yusei Magic', sans-serif;
  }

}