/* 画像start */
/* みずどりの基本設定 */
.layer-img{
  width: 250px;
  height: auto;
  transform: rotate(-45deg);
  /*透過の設定*/
  opacity: 0.5;
}

/* 画像 fin */

/* 波紋 */

@charset "utf-8";

/*== 無限に波紋が広がる */

.btnripple2{
    /*波紋の基点とするためrelativeを指定*/
  position: relative;
    /*波紋の形状*/
  display:inline-block;
  background:#fff;
  width:200px;
  height:200px;
  border-radius: 50%;
  color:#ccc;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
.btnripple2:hover{
  background:#fff;  
}

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -30%;
    /*波形の形状*/
    border: 1px solid #333;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation:1s circleanime linear infinite;
}

/*波形の2つ目は0.5秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay:.5s; 
}

/*波形のアニメーション*/
@keyframes circleanime{
  0%{
    transform: scale(0.68);
  }
  100%{
    transform: scale(2.2);
    opacity: 0;
  }
}

/*中央矢印*/
.btnripple2 span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 38%;
    left: 45%;
    /*矢印の形状*/
    border: 14px solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-color: #fff;
}

/*========= レイアウトのためのCSS ===============*/

.overflow-hidden {
    overflow: hidden;
}


/* ボタン */
.btnlinestretches2{
    /*線の基点とするためrelativeを指定*/
  position:relative;
    /*ボタンの形状*/  
  color:#333;
    padding: 10px 30px;
  
  display:inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches2::before,
.btnlinestretches2::after {
  content:'';
    /*絶対配置で線の位置を決める*/
  position:absolute;
    /*事前に出現させる線の形状*/
  border:solid #333;
  width:10px;
  height:10px;
    /*アニメーションの指定*/
  transition:all 0.3s ease-in-out;
}

.btnlinestretches2::before{
    /*事前に出現させる線の位置*/
  top:0;
  left:0;
    /*事前に出現させる線の形状*/
  border-width:2px 0 0 2px;
}

.btnlinestretches2::after{
    /*事前に出現させる線の位置*/
  bottom:0;
  right:0;
    /*事前に出現させる線の形状*/
  border-width:0 2px 2px 0;
}

/*hoverした際の線の形状*/
.btnlinestretches2:hover::before,
.btnlinestretches2:hover::after{
  width:calc(100% - 2px);
  height:calc(100% - 2px);
  border-color:#666
}

/*========= レイアウトのためのCSS ===============*/
body{
    vertical-align:middle; 
    padding: 100px 0;
    text-align: center;
}

p{
    margin: 0 0 10px 0;
}

@media screen and (max-width:480px) {
     
    /*　画面サイズが480px以下の場合ここの記述が適用される　*/
 
}