@charset "UTF-8";
  
/* ********************************************
// --- リセット ---
// ※ブラウザのデフォルトCSSをリセット
// ***************************************** */
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body {
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
header, footer, nav, menu, article, aside, section, details, figcaption, figure{
  display: block;
}
ul, ol {
  list-style: none;
}
table {
  border-collapse: collapse;
}
img {
  vertical-align: bottom;
}
a img {
  border: none;
}
strong {
  font-weight: normal;
}
i{
  font-style: normal;
}

.scrollbarnone{
  height: 150px;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.scrollbarnone::-webkit-scrollbar{ /* Chrome, Safari 対応 */
  display:none;
}


/* ---------------- fontの読み込み ----------------- */
@font-face {
  font-family: 'Kaushan Script';
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

/* ---------------- 表示の設定 ----------------- */

div.container{
  height: 10em;
  position: relative;
}

div.container h1{
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -30%;
  transform: translate(-50%, -50%);
}

div.container2{
  position: relative;
  top: 125px;
  text-align: center;
  
  font-size: 50px;
}

/* ---------------- 画像の設定 ----------------- */
/* みずどりの基本設定 */
.car_img{
  position: absolute;
  width: 250px;
  transform: rotate(-45deg);
  top: 0;
  left: 35%;
  margin-right: -30%;
  /*透過の設定*/
  opacity: 0.5;
}

/* ---------------- 波形の設定 ----------------- */

/*== 無限に波紋が広がる */

.btnripple2{
    /*波紋の基点とするためrelativeを指定*/
  position: relative;
    /*波紋の形状*/
  display:inline-block;
  background:#fff;
  width:200px;
  height:200px;
  border-radius: 50%;
  color:#ccc;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
.btnripple2:hover{
  background:#fff;  
}

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -30%;
    /*波形の形状*/
    border: 1px solid #333;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation:1s circleanime linear infinite;
}

/*波形の2つ目は0.5秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay:.5s; 
}

/*波形のアニメーション*/
@keyframes circleanime{
  0%{
    transform: scale(0.68);
  }
  100%{
    transform: scale(2.2);
    opacity: 0;
  }
}

/*中央矢印*/
.btnripple2 span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 38%;
    left: 45%;
    /*矢印の形状*/
    border: 14px solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-color: #fff;
}


@media screen and (max-width:480px) {
     
  div.container h1{
    color:blueviolet;  
    font-family:'Kaushan Script';
    font-size: 50px;
  }
  .car_img{
    left: 17%;
  }

}